# Dependencies
vendor/
composer.phar
composer.lock

# IDE and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store

# PHP development files
.phpunit.result.cache
.php_cs.cache
.php_cs.dist.cache
.phpstan.cache
.phplint.cache
phpunit.xml

# Code coverage and logs
code-coverage/
coverage/
*.log
storage/*
:memory
php:

# Project specific
notes.txt