<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" testdox="true">
    <testsuites>
        <testsuite name="Lightpack Framework PHPUnit Test">
            <directory>src/Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- MySQL Test Config -->
        <env name="MYSQL_HOST" value="localhost" />
        <env name="MYSQL_PORT" value="3306" />
        <env name="MYSQL_USER" value="phpmyadmin" />
        <env name="MYSQL_PASSWORD" value="phpmyadmin" />
        <env name="MYSQL_DB" value="test_lightpack" />
        <!-- Postgress Test Config -->
        <env name="PGSQL_HOST" value="localhost" />
        <env name="PGSQL_PORT" value="5432" />
        <env name="PGSQL_USER" value="postgres" />
        <env name="PGSQL_PASSWORD" value="postgres" />
        <env name="PGSQL_DB" value="test_lightpack" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Framework</directory>
        </whitelist>
    </filter>
</phpunit>